<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="auto">
    <insert id="insertRequest" parameterType="java.util.Map">
        insert into TB_AUTO_SCENARIO
            (auto_senaro_id, mdl_code, gvp, vei, observe, duration, event_time, file_path, VOLCANO_NAME)
        VALUES
            (#{modelName}, #{mdlCode}, #{gvp}, #{vei}, #{obsr}, #{duration}, #{eventTime}, #{file_path}, #{volcanoName})
    </insert>

    <select id="test" resultType="java.lang.String">
        select 'Y'
    </select>
</mapper>
 
